[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
daphne = "*"
django-redis = "*"
celery = "*"
pymemcache = "*"
requests = "*"
selenium = "*"
webdriver-manager = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
pillow = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-imagekit = "*"
django-celery-beat = "*"
drf-spectacular = "*"
django-debug-toolbar = "*"
django-import-export = "*"
django-extensions = "*"
djangorestframework-simplejwt = "*"
unidecode = "*"
channels = {extras = ["daphne"], version = "*"}
pyotp = "*"
qrcode = "*"
whitenoise = "*"
googlesearch-python = "*"
nltk = "*"
pandas = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.13"
